<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/style.css" />
</head>
<body>

    <header>
        <ul>
            <!-- Add links at some point -->
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/news}">News</a></li>
            <li><a th:href="@{/news/create}">Create new</a></li>
        </ul>
    </header>


</body>
</html>