<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="style.css">
</head>
<body>

<header th:replace="fragments/header :: header">

</header>

    <form method="POST" th:action="@{/news/create}" enctype="multipart/form-data">
        <p>Heading<input type="text" name="heading"/></p>
        <p>Lead paragraph<input type="text" name="lead"/></p>
        <p>Text<input type="text" name="text"/></p>
        <p>Authors<input type="text" name="journalists"/></p>
        <p>Categories<input type="text" name="categories"/></p>
        <input type="file" name="file" id="file"/>

        <input type="submit" value="Send"/>
    </form>

</body>
</html>