<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        img {
            width: 400px;
            height: 400px;
        }

        .sameLine {
            display: inline;
        }
        ul, li {
            list-style-type: none;
        }
    </style>

</head>
<body>
<div class="container">

    <header th:replace="fragments/header :: header">

    </header>

    <h2 th:text="${news.heading}">Heading</h2>

    <h4 th:text="${news.lead}">Leading paragraph</h4>
    <p th:text="${news.localTime}">Release Time</p>

    <section th:each="category: ${categories}">
        <h4 class="sameLine"><a th:href="@{/categories/{id}(id=${category.id})}" th:text="${category.name}">Category</a></h4>
    </section>

    <section th:each="journalist: ${journalists}">
        <h4 class="sameLine"th:text="${journalist.name} "></h4>
    </section>

    <!--IMAGE HERE -->
    <div class="image">
        <img th:src="@{/news/{id}/content(id=${imageid})}" />
    </div>

    <p th:text="${news.text}">Text</p>


    <footer><a th:href="@{/news/edit/{id}(id=${news.id})}">Edit</a></footer>

</div>

</body>
</html>