<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All news</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        ul, li {
            list-style-type: none;
        }

        span {
            padding-left: 5px;
        }

    </style>

</head>
<body>
<div class="container">

    <div th:replace="fragments/header :: nav"></div>

    <h1>Most clicked news</h1>

    <ul>
        <li th:each="singleNew: ${news}">
            <a th:href="@{/news/{id}(id=${singleNew.id})}" th:text="${singleNew.heading}">Heading</a>
            <span th:text="${singleNew.localTime}">Date</span>
            <span>Clicks: </span>
            <span th:text="${singleNew.pageOpened}">how many times</span>
        </li>
    </ul>
</div>


</body>
</html>